.container-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;

    .container-min-plus{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
        .btn-count, .btn-add{
            color: #000;
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 6px;
            transition: all 0.3s ease-in-out;
            border: none;
            margin: 10px;

            &:hover{
                background-color: #F35C17;
                color: #fff;
                
            }
        }
        .btn-add{
            width: 73%;
        }
        .container-productos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

}