nav {
    background-color: #FBF6EE;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
    .contenedor-img-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
        .logo-nav-bar {
        width: 26%;
        }

    .contenedor-links {
        display: flex;
        justify-content: space-around;

            .nav-link, .cart-shopping{
                color: #000;
                font-size: 1.2rem;
                font-weight: bold;
                text-decoration: none;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                transition: all 0.3s ease-in-out;
                
                &:hover{
                    
                    color: #F35C17;
                }
            }
    }
    
}


    
